body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

.mainStack {
  width: 1000px;
  max-width: 90vw;
}

.rowItem {
  display: flex; 
  align-items: center;
}

.paperItem {
  padding: 1em;
  max-width: 85vw;
  min-width: 200px;
  /* min-height: 300px; */
}

.startButton {
  color: white;
  font-size: medium;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0.5em;
  width: 65%;
  background-color: transparent;
  margin-left: 45px;
}

.startButton:hover {
  border: 3px solid white;
}

.startButton:active {
  background-color: rgba(255, 255, 255, 0.15);
}

.projButton {
  color: gray;
  font-size: medium;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 0.5em;
  width: 75%;
  background-color: transparent;
  margin-left: 10%;
}

.projButton:hover {
  border: 3px solid gray;
}

.projButton:active {
  background-color: rgba(0, 0, 0, 0.200);
}

.breakdownInput {
  font-size: medium;
  border: 0;
  margin: 1%;
  width: 28%;
  max-height: 24px;
}

.breakdownInput:focus {
  border: 0px;
}

.breakdownInput:active {
  border: 0px;
}

.deleteButton {
  color: transparent;
  font-size: medium;
  border: 0px solid gray;
  border-radius: 10px;
  padding: 0.5em;
  width: 20%;
  background-color: transparent;
}

.deleteButton:hover {
  color: rgba(255, 0, 0, 0.200);
  font-size: medium;
  border: 2px solid rgba(255, 0, 0, 0.200);
  border-radius: 10px;
  padding: 0.5em;
  width: 20%;
  background-color: transparent;
}

.deleteButton:active {
  background-color: rgba(255, 0, 0, 0.200);
}


